<header class="header-wr">
    <div class="container  header">
        <%= link_to root_path, class: 'logo header__logo' do %>
            <div class="logo__icon">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <rect width="39.996" height="39.996" rx="8" fill="#D1D8E0" />
                        <path d="M5.416 7.025a6 6 0 016-6h17.471a6 6 0 016 6V37a3 3 0 01-3 3H8.417a3 3 0 01-3-3V7.025z" fill="#F4F6F8" />
                        <g clip-path="url(#clip1)">
                            <path d="M23.94 23.051h-7.794v-6.229c0-.438.41-.794.915-.794h5.965c.506 0 .915.356.915.794v6.23z" fill="#2EE0CF" />
                            <path d="M8.352 22.532v-5.71c0-.438.41-.794.914-.794h5.966c.505 0 .914.356.914.794v5.71H8.352z" fill="#4CC68A" />
                            <path d="M23.945 22.532v-5.71c0-.438.41-.794.914-.794h6.081c.505 0 .915.356.915.794v5.71h-7.91z" fill="#B080FF" />
                            <path d="M23.94 31.78h-7.794v-6.23c0-.438.41-.794.915-.794h5.965c.506 0 .915.356.915.794v6.23z" fill="#FF8964" />
                            <path d="M16.146 30.613H8.352V25.55c0-.438.41-.794.914-.794h5.966c.505 0 .914.356.914.794v5.063z" fill="#5CCEFF" />
                            <path d="M23.945 30.613V25.55c0-.438.41-.794.915-.794h6.1c.506 0 .915.356.915.794v5.063h-7.93zm-.004-16.29h-7.795V8.094c0-.438.41-.794.915-.794h5.965c.506 0 .915.356.915.794v6.229z" fill="#FBC02D" />
                            <path d="M8.352 13.819v-4.66a1.86 1.86 0 011.86-1.859h5.02c.505 0 .914.356.914.794v5.725H8.352z" fill="#5C99FF" />
                            <path d="M23.945 13.819V8.094c0-.438.41-.794.914-.794l5.158.06a1.86 1.86 0 011.838 1.859v4.6h-7.91z" fill="#3FC145" />
                            <path d="M26.887 26.848a2.55 2.55 0 012.225 3.787h2.763v.373a.93.93 0 01-.93.93H9.282a.93.93 0 01-.93-.93v-.373h3.098a1.246 1.246 0 001.143-1.24c0-.66-.52-1.203-1.171-1.241l-.074-.002a.652.652 0 010-1.304 2.55 2.55 0 012.226 3.787h5.67a1.246 1.246 0 001.143-1.24c0-.66-.519-1.203-1.171-1.241l-.073-.002a.652.652 0 010-1.304 2.55 2.55 0 012.225 3.787h5.62a1.246 1.246 0 001.143-1.24c0-.66-.52-1.203-1.171-1.241l-.073-.002a.652.652 0 010-1.304zm0-8.106a2.55 2.55 0 012.547 2.548c0 .45-.868.872-1.073 1.24l3.514-.001v.373a.93.93 0 01-.93.93H9.282a.93.93 0 01-.93-.93v-.373h3.603c.639-.051.637-.588.637-1.24 0-.685-.558-1.243-1.244-1.243-.36 0-.47-.292-.47-.652 0-.36.11-.652.47-.652a2.55 2.55 0 012.225 3.787h5.672a1.246 1.246 0 001.142-1.24c0-.685-.558-1.243-1.244-1.243a.652.652 0 110-1.304 2.55 2.55 0 012.225 3.787h5.62a1.246 1.246 0 001.143-1.24c0-.685-.559-1.243-1.244-1.243a.652.652 0 110-1.304zm0-8.728a2.55 2.55 0 012.225 3.787h2.763v.373a.93.93 0 01-.93.93H9.282a.93.93 0 01-.93-.93v-.373h3.098a1.246 1.246 0 001.143-1.24c0-.661-.52-1.204-1.172-1.241l-.073-.002a.652.652 0 010-1.304 2.55 2.55 0 012.225 3.787h5.672a1.246 1.246 0 001.142-1.24c0-.661-.52-1.204-1.171-1.241l-.073-.002a.652.652 0 010-1.304 2.55 2.55 0 012.225 3.787h5.62a1.246 1.246 0 001.143-1.24c0-.661-.52-1.204-1.172-1.241l-.072-.002a.652.652 0 010-1.304z" fill="#253A4C" />
                            <path d="M25.26 33.938H14.966a.795.795 0 00-.795.795v2.524c0 .44.356.795.795.795H25.26c.44 0 .796-.356.796-.795v-2.524a.795.795 0 00-.796-.795z" fill="#768BA0" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.142 33.938c.505 0 .915.41.915.914v1.098a.914.914 0 00-.855-.913l-.06-.002H15.085a.914.914 0 00-.913.854l-.002.06v-1.097c0-.505.41-.914.915-.914h10.057z" fill="#253A4C" />
                        </g>
                        <path fill="#F4F6F8" d="M8.352 5.196h23.503v7.334H8.352z" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.873 15.799H0V10.68h7.352c-1.677-2.163-1.556-5.342.364-7.358a5.17 5.17 0 017.546 0c.77.809 3.14 3.775 4.851 5.94 1.711-2.165 4.08-5.13 4.85-5.94a5.17 5.17 0 017.547 0c1.92 2.016 2.041 5.195.364 7.358h7.12v5.12l-13.64-.002 2.686 2.822a2.565 2.565 0 010 3.514c-.47.494-1.1.751-1.739.751a2.409 2.409 0 01-1.738-.747l-.004-.004-5.446-5.72-5.446 5.72c-.47.494-1.101.751-1.74.751a2.41 2.41 0 01-1.738-.747l-.003-.004a2.565 2.565 0 010-3.514l2.687-2.822z" fill="#F4F6F8" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.538 3.93c.855.898 3.884 4.717 5.575 6.864 1.69-2.147 4.72-5.966 5.576-6.865a4.17 4.17 0 016.097 0c1.682 1.766 1.682 4.637 0 6.403-.358.376-1.165.811-2.22 1.266h10.461v3.12l-16.007-.002 4.296 4.512c.56.589.56 1.546 0 2.134-.279.293-.647.441-1.015.441-.368 0-.736-.148-1.017-.44l-6.17-6.48-6.171 6.48c-.28.292-.647.44-1.015.44-.368 0-.736-.148-1.018-.44a1.564 1.564 0 010-2.135l4.296-4.512-16.239.001v-3.119h10.694c-1.056-.455-1.863-.89-2.22-1.266-1.682-1.766-1.682-4.637 0-6.403a4.17 4.17 0 016.097 0zM11.49 5.622c-.367 0-.736.148-1.017.44a1.565 1.565 0 000 2.135c.48.395 2.808 1.259 5.548 2.15-1.5-1.887-3.019-3.762-3.513-4.284a1.41 1.41 0 00-1.018-.441zm17.249 0c-.368 0-.736.145-1.018.44-.494.52-2.012 2.398-3.513 4.281 2.74-.89 5.077-1.763 5.577-2.18.529-.555.529-1.512-.034-2.1a1.387 1.387 0 00-1.012-.441z" fill="#F19B49" />
                    </g>
                    <defs>


                        <clipPath id="clip0">
                            <rect width="39.996" height="39.996" rx="8" fill="#fff" />
                        </clipPath>
                        <clipPath id="clip1">
                            <path fill="#fff" transform="translate(8.352 7.3)" d="M0 0h23.523v30.752H0z" />
                        </clipPath>
                    </defs>
                </svg>

            </div>
            <div class="logo__text">
                <svg width="158" height="24" viewBox="0 0 158 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M148.149.498a1.904 1.904 0 100 3.805h2.634a1.903 1.903 0 100-3.805h-2.634z" fill="#fff" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6 13.423c0 2.952.87 5.374 2.61 7.266 1.758 1.873 4.229 2.81 7.41 2.81 3.183 0 5.643-.937 7.382-2.81 1.76-1.892 2.639-4.314 2.639-7.266 0-2.951-.88-5.363-2.639-7.237-1.739-1.891-4.2-2.837-7.381-2.837-3.182 0-5.652.946-7.412 2.837-1.739 1.874-2.608 4.286-2.608 7.237zm5.633 0c0-1.646.366-2.98 1.097-4.001.731-1.022 1.828-1.533 3.29-1.533 1.463 0 2.56.511 3.291 1.533.731 1.021 1.097 2.355 1.097 4.001 0 1.646-.366 2.98-1.097 4.002-.731 1.022-1.828 1.532-3.29 1.532-1.463 0-2.56-.51-3.29-1.532-.732-1.022-1.098-2.356-1.098-4.002z" fill="#fff" />
                    <path d="M.996 6.215v14.417c0 .757.228 1.381.682 1.873.475.473 1.137.71 1.986.71.85 0 1.502-.237 1.957-.71.474-.492.712-1.116.712-1.873V8.173h6.136v12.459c0 .757.227 1.381.682 1.873.474.473 1.146.71 2.016.71.85 0 1.502-.237 1.956-.71.455-.473.682-1.097.682-1.873V6.215c0-.757-.227-1.372-.682-1.845-.454-.492-1.107-.738-1.956-.738H3.665c-.85 0-1.512.246-1.987.738-.454.473-.682 1.088-.682 1.845zM43.669 6.215c0-.757.227-1.372.681-1.845.475-.492 1.137-.738 1.986-.738H57.84c.85 0 1.502.246 1.956.738.455.473.682 1.088.682 1.845v14.417c0 .776-.227 1.4-.682 1.873-.454.473-1.107.71-1.956.71-.87 0-1.542-.237-2.016-.71-.455-.492-.682-1.116-.682-1.873V8.173h-6.136v12.459c0 .757-.238 1.381-.712 1.873-.454.473-1.107.71-1.956.71-.85 0-1.512-.237-1.987-.71-.454-.492-.681-1.116-.681-1.873V6.215z" fill="#fff" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M64.28 6.726v13.906c0 .757.228 1.381.683 1.873.474.473 1.136.71 1.986.71.85 0 1.502-.237 1.956-.71.475-.492.712-1.116.712-1.873v-3.576c.632.095 1.274.142 1.927.142 2.41 0 4.387-.587 5.928-1.76 1.542-1.173 2.313-2.904 2.313-5.193 0-2.252-.761-3.936-2.283-5.052C76 4.058 73.994 3.49 71.484 3.49c-1.897 0-3.508.133-4.832.398-1.58.321-2.371 1.267-2.371 2.838zm9.072 5.449c-.514.416-1.206.624-2.075.624a13.24 13.24 0 01-1.66-.085v-4.74c.434-.056 1.017-.085 1.749-.085.89 0 1.57.208 2.045.625.494.397.741.974.741 1.73 0 .852-.267 1.495-.8 1.93zM83.86 20.689c-1.74-1.892-2.61-4.314-2.61-7.266 0-2.951.87-5.363 2.61-7.237 1.758-1.891 4.229-2.837 7.41-2.837 3.182 0 5.643.946 7.382 2.837 1.759 1.874 2.638 4.286 2.638 7.237 0 2.952-.879 5.374-2.638 7.266-1.74 1.873-4.2 2.81-7.382 2.81-3.181 0-5.652-.937-7.41-2.81zm4.12-11.267c-.731 1.021-1.097 2.355-1.097 4.001 0 1.646.366 2.98 1.097 4.002.731 1.022 1.828 1.532 3.29 1.532 1.463 0 2.56-.51 3.291-1.532.731-1.022 1.097-2.356 1.097-4.002s-.366-2.98-1.097-4.001c-.731-1.022-1.828-1.533-3.29-1.533-1.463 0-2.56.511-3.291 1.533zM116.235 3.632h-9.338c-.79 0-1.423.246-1.897.738-.454.492-.682 1.107-.682 1.845V20.29c0 1.552.84 2.46 2.52 2.725 1.383.227 3.024.34 4.921.34 2.53 0 4.536-.52 6.018-1.56 1.482-1.06 2.223-2.715 2.223-4.967 0-4.011-2.579-6.017-7.737-6.017-.968 0-1.838.057-2.609.17V8.174h6.581c.811 0 1.433-.199 1.868-.596.435-.416.652-.974.652-1.674 0-.72-.217-1.277-.652-1.675-.435-.397-1.057-.596-1.868-.596zm-6.581 11.41c.554-.077 1.285-.114 2.194-.114.83 0 1.453.198 1.868.595.434.379.652.89.652 1.533 0 .662-.247 1.192-.741 1.59-.475.397-1.156.595-2.046.595a20.31 20.31 0 01-1.927-.085v-4.115z" fill="#fff" />
                    <path d="M128.237 17.538l-6.285-9.45c-.534-.814-.761-1.608-.682-2.384.099-.776.524-1.353 1.275-1.731 1.581-.814 2.885-.284 3.913 1.59l4.209 7.293 3.054-7.152c.751-1.797 1.907-2.422 3.468-1.873.751.265 1.196.757 1.334 1.476.139.7.04 1.38-.296 2.043l-4.654 10.16c-.89 2.006-1.828 3.51-2.817 4.512-.968.984-2.154 1.476-3.557 1.476-1.285 0-2.352-.208-3.202-.624-.672-.34-1.146-.785-1.423-1.334-.256-.549-.286-1.135-.088-1.76.197-.586.523-.974.978-1.163a2.291 2.291 0 011.512-.114c1.027.246 1.64.37 1.838.37.593 0 1.067-.445 1.423-1.335zM145.813 14.644v-8.43c0-.737-.228-1.352-.682-1.844-.455-.492-1.117-.738-1.986-.738-.89 0-1.562.246-2.016.738-.435.492-.652 1.107-.652 1.845v14.417c0 .832.217 1.476.652 1.93.454.435 1.097.652 1.927.652.83 0 1.64-.482 2.43-1.447l7.174-9.45v8.315c0 .738.228 1.353.682 1.845.455.491 1.127.738 2.016.738.87 0 1.522-.237 1.957-.71.454-.492.681-1.116.681-1.873V6.215c0-.776-.207-1.4-.622-1.873-.415-.473-1.067-.71-1.957-.71-.968 0-1.788.464-2.46 1.39l-1.808 2.413-3.558 4.825-1.778 2.384z" fill="#fff" />
                </svg>

            </div>
        <% end %>
        <div class="header__menu">
            <a href="#aboutUs" class="link header__menu-item">О нас</a>
            <a href="#howWork" class="link header__menu-item">Как это работает?</a>
            <a href="#loyalty" class="link header__menu-item">Повышайте лояльности</a>
            <a href="#support" class="link header__menu-item">Контакты</a>
        </div>
        <div class="header__burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="header__mob-header">
            <div>
                <ul class="header__mob-list header__mob-list_bb">
                    <li>
                        <a href="#aboutUs" class="header__mob-link">
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="#howWork" class="header__mob-link">
                            Как это работает?
                        </a>
                    </li>
                    <li>
                        <a href="#loyalty" class="header__mob-link">
                            Повышайте лояльности
                        </a>
                    </li>
                    <li>
                        <a href="#support" class="header__mob-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>

            <%= link_to root_path, class: 'header__back-link' do %>
                Вернуться на <ins>основной сайт</ins>
            <% end %>

        </div>
    </div>
</header>
<div class="about-banner">
    <div class="container about-banner__wr">
        <div class="about-banner_info">
            <h1 class="about-banner__title">Аппараты "Попробуй" для торговых сетей</h1>
            <div class="about-banner__description">Повышать лояльность и расширять потребительскую корзину клиентов</div>
        </div>
        <div class="about-banner__image-wrapper">
            <%= image_tag 'header-1.png', alt: '' %>
        </div>
    </div>
</div>
<div class="about-block" id="forUs">
    <div class="container">
        <h2>О нас</h2>
        <span class="about-block__subtitle"><strong>Аппараты "Попробуй"</strong> - инновационное решение помогающее:</span>
        <div class="about-block__item">
            <div class="about-block__img-wrapper"><%= image_tag 'im-client.png', alt: 'Клиент' %></div>
            <div class="about-block__content">
                <span class="about-block__content-title">
                    Клиентам
                </span>
                <span class="about-block__content-sub-title">
                    Получать вознаграждение в виде бесплатных товаров за покупки в любимых магазинах
                </span>
            </div>
        </div>
        <div class="about-block__item about-block__item_reverse">
            <div class="about-block__img-wrapper about-block__img-wrapper_reverse-block">
                <%= image_tag 'im-fmcg.png', alt: 'Клиент' %>
            </div>
            <div class="about-block__content">
                <span class="about-block__content-title">
                    Производителям
                </span>
                <span class="about-block__content-sub-title">
                    Продвигать свои товары через непосредственный контакт с потенциальными покупателями, чей чек, сильно выше среднего
                </span>
            </div>
        </div>
        <div class="about-block__item">
            <div class="about-block__img-wrapper">
                <%= image_tag 'im-retail.png', alt: 'Клиент' %>
            </div>
            <div class="about-block__content">
                <span class="about-block__content-title">
                    Торговым сетям
                </span>
                <span class="about-block__content-sub-title">
                    Повышать лояльность и расширять потребительскую корзину клиентов
                </span>
            </div>
        </div>
    </div>
</div>
<div class="info-block container" id="howWork">
    <h2>Как это работает?</h2>
    <div class="info-block__cards-wrapper">
        <div class="info-block__card">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M52.8815 8.13559V56.9492C52.8815 61.4423 49.2391 65.0847 44.746 65.0847H17.6273C14.7199 65.083 12.0333 63.5331 10.5765 61.0169V61.0034C9.8629 59.7716 9.4886 58.3727 9.49172 56.9492V8.13559C9.49172 3.64243 13.1341 0 17.6273 0H44.746C49.0008 0.00219923 52.5353 3.28256 52.8544 7.52542C52.868 7.72881 52.8815 7.9322 52.8815 8.13559Z" fill="#EAEDF5" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M79.582 30.6441C77.633 41.7035 67.0896 49.0905 56.0294 47.1458C55.3891 47.0364 54.7554 46.8916 54.1311 46.7119C50.9027 45.8263 47.9443 44.1538 45.521 41.8441L35.9888 43.6203L40.9244 35.2678C37.919 28.4017 38.9348 20.4389 43.5676 14.5472C48.2005 8.65546 55.6991 5.79032 63.0803 7.09154C74.1397 9.04056 81.5267 19.5839 79.582 30.6441Z" fill="#FFA956" />
                <path d="M33.8983 54.2373C35.3942 54.2418 36.6057 55.4533 36.6102 56.9492C36.5991 58.4423 35.3914 59.65 33.8983 59.661H28.4746C26.9787 59.6566 25.7672 58.445 25.7627 56.9492C25.7738 55.4561 26.9814 54.2484 28.4746 54.2373H33.8983Z" fill="#C9CCD7" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2712 52.4882C24.2732 50.6452 23.0361 49.0312 21.2559 48.5543C19.4757 48.0775 17.5974 48.8571 16.678 50.4543L10.5763 61.0034C9.86271 59.7716 9.48842 58.3727 9.49153 56.9492V35.2814C8.57791 35.408 7.79128 35.9903 7.4034 36.8271L1.24747 50.1831C0.423677 51.9589 -0.00207429 53.8933 7.59846e-06 55.8509V80L21.6949 79.9865V74.1017C21.692 72.6254 21.289 71.1774 20.5288 69.9119L17.6271 65.0848L23.7288 54.5221C24.0842 53.9031 24.2712 53.2019 24.2712 52.4882Z" fill="#FFC28B" />
                <path d="M23.0508 5.42374C23.0508 4.67488 23.6579 4.06781 24.4067 4.06781C25.1556 4.06781 25.7626 4.67488 25.7626 5.42374C25.7626 6.1726 25.1556 6.77967 24.4067 6.77967C23.6579 6.77967 23.0508 6.1726 23.0508 5.42374Z" fill="#C9CCD7" />
                <path d="M28.4746 5.42374C28.4746 4.67488 29.0817 4.06781 29.8305 4.06781H37.9661C38.715 4.06781 39.3221 4.67488 39.3221 5.42374C39.3221 6.1726 38.715 6.77967 37.9661 6.77967H29.8305C29.0817 6.77967 28.4746 6.1726 28.4746 5.42374Z" fill="#C9CCD7" />
                <rect x="49.0464" y="15.9322" width="22.0339" height="22.0339" rx="1.94915" fill="white" />
                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="49" y="15" width="23" height="23">
                    <rect x="49.0464" y="15.9322" width="22.0339" height="22.0339" rx="1.94915" fill="white" />
                </mask>
                <g mask="url(#mask0)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M52.6269 15.9322H49.0464V37.9661H52.6269V15.9322ZM71.0803 15.9322H67.4998V37.9661H71.0803V15.9322Z" fill="#EFEFEF" />
                    <rect x="53.8662" y="21.3029" width="12.3941" height="12.3941" rx="0.383739" fill="#455D75" />
                    <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="53" y="21" width="14" height="13">
                        <rect x="53.8662" y="21.3029" width="12.3941" height="12.3941" rx="0.383739" fill="white" />
                    </mask>
                    <g mask="url(#mask1)">
                        <path d="M62.1193 29.3591H57.9927V26.0612C57.9927 25.8291 58.2094 25.6409 58.4768 25.6409H61.6352C61.9026 25.6409 62.1193 25.8291 62.1193 26.0612V29.3591Z" fill="#6186E4" />
                        <path d="M57.9928 29.3591H53.8662V26.0612C53.8662 25.8291 54.083 25.6409 54.3503 25.6409H57.5088C57.7761 25.6409 57.9929 25.8291 57.9929 26.0612V29.3591H57.9928Z" fill="#FDC74F" />
                        <path d="M66.2482 29.3591H62.1216V26.0612C62.1216 25.8291 62.3383 25.6409 62.6057 25.6409H65.7641C66.0315 25.6409 66.2482 25.8291 66.2482 26.0612V29.3591Z" fill="#0CB9DF" />
                        <path d="M62.1193 33.697H57.9927V30.3992C57.9927 30.167 58.2094 29.9788 58.4768 29.9788H61.6352C61.9026 29.9788 62.1193 30.167 62.1193 30.3992V33.697Z" fill="#EA3939" />
                        <path d="M57.9929 33.697H54.4889C54.145 33.697 53.8662 33.4549 53.8662 33.1563V30.3992C53.8662 30.167 54.083 29.9788 54.3503 29.9788H57.5088C57.7761 29.9788 57.9929 30.167 57.9929 30.3992V33.697Z" fill="#00C6C8" />
                        <path d="M65.6362 33.697H62.1216V30.3992C62.1216 30.167 62.3383 29.9788 62.6057 29.9788H65.7748C66.0422 29.9788 66.2589 30.167 66.2589 30.3992V33.1563C66.2589 33.4549 65.9801 33.697 65.6362 33.697Z" fill="#FDC74F" />
                        <path d="M62.1193 25.0212H57.9927V21.7233C57.9927 21.4912 58.2094 21.3029 58.4768 21.3029H61.6352C61.9026 21.3029 62.1193 21.4912 62.1193 21.7233V25.0212Z" fill="#FDC74F" />
                        <path d="M57.9928 25.0212H53.8662V21.7233C53.8662 21.4912 54.083 21.3029 54.3503 21.3029H57.5088C57.7761 21.3029 57.9929 21.4912 57.9929 21.7233V25.0212H57.9928Z" fill="#0CB9DF" />
                        <path d="M66.2482 25.0212H62.1216V21.7233C62.1216 21.4912 62.3383 21.3029 62.6057 21.3029H65.7641C66.0315 21.3029 66.2482 21.4912 66.2482 21.7233V25.0212Z" fill="#6186E4" />
                        <path d="M61.611 25.6409H60.7891C61.0699 25.6409 61.2976 25.8385 61.2976 26.0824V29.3591H62.1195V26.0824C62.1195 25.8385 61.8918 25.6409 61.611 25.6409Z" fill="#467ED3" />
                        <path d="M57.4841 25.6409H56.541C56.8219 25.6409 57.0495 25.8385 57.0495 26.0824V29.3591H57.9926V26.0824C57.9926 25.8385 57.765 25.6409 57.4841 25.6409Z" fill="#FCA629" />
                        <path d="M65.7397 25.6409H65.0723C65.3531 25.6409 65.5808 25.8385 65.5808 26.0824V29.3591H66.2482V26.0824C66.2482 25.8385 66.0205 25.6409 65.7397 25.6409Z" fill="#0691AE" />
                        <path d="M61.6101 29.9788H60.9507C61.2315 29.9788 61.4592 30.1765 61.4592 30.4204V33.697H62.1186V30.4204C62.1186 30.1765 61.8909 29.9788 61.6101 29.9788Z" fill="#D82A36" />
                        <path d="M57.4831 29.9788H56.8237C57.1046 29.9788 57.3322 30.1765 57.3322 30.4204V33.697H57.9916V30.4204C57.9916 30.1765 57.764 29.9788 57.4831 29.9788Z" fill="#00AFAA" />
                        <path d="M65.7462 29.9788H65.0809C65.3643 29.9788 65.594 30.1765 65.594 30.4204V33.129C65.594 33.4427 65.2985 33.697 64.9341 33.697H65.5994C65.9638 33.697 66.2593 33.4427 66.2593 33.129V30.4204C66.2593 30.1765 66.0296 29.9788 65.7462 29.9788Z" fill="#FCA629" />
                        <path d="M61.611 21.3029H60.7891C61.0699 21.3029 61.2976 21.5006 61.2976 21.7445V25.0212H62.1195V21.7445C62.1195 21.5006 61.8918 21.3029 61.611 21.3029Z" fill="#FCA629" />
                        <path d="M57.4841 21.3029H56.541C56.8219 21.3029 57.0495 21.5006 57.0495 21.7445V25.0212H57.9926V21.7445C57.9926 21.5006 57.765 21.3029 57.4841 21.3029Z" fill="#0691AE" />
                        <path d="M65.7397 21.3029H65.0723C65.3531 21.3029 65.5808 21.5006 65.5808 21.7445V25.0212H66.2482V21.7445C66.2482 21.5006 66.0205 21.3029 65.7397 21.3029Z" fill="#467ED3" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M65.0276 24.0176C65.0276 23.2739 64.4225 22.6689 63.6789 22.6689C63.4883 22.6689 63.3338 22.8233 63.3338 23.0139C63.3338 23.2044 63.4883 23.3589 63.6789 23.3589L63.7175 23.36C64.0627 23.3801 64.3375 23.6673 64.3375 24.0175C64.3375 24.3625 64.0708 24.6465 63.7328 24.674L60.7571 24.6738C60.8658 24.4794 60.9278 24.2556 60.9278 24.0176C60.9278 23.2739 60.3228 22.6689 59.5791 22.6689C59.3885 22.6689 59.2341 22.8233 59.2341 23.0139C59.2341 23.2044 59.3885 23.3589 59.5791 23.3589L59.6177 23.36C59.963 23.3801 60.2377 23.6673 60.2377 24.0175C60.2377 24.3625 59.9711 24.6464 59.6331 24.674L56.6305 24.6738C56.7392 24.4794 56.8012 24.2556 56.8012 24.0176C56.8012 23.2739 56.1961 22.6689 55.4525 22.6689C55.2619 22.6689 55.1074 22.8233 55.1074 23.0139C55.1074 23.2044 55.2619 23.3589 55.4525 23.3589L55.4911 23.36C55.8363 23.3801 56.1111 23.6673 56.1111 24.0175C56.1111 24.3625 55.8444 24.6465 55.5064 24.674L53.8662 24.6735V25.3636L55.4113 25.3637C55.4248 25.3654 55.4385 25.3662 55.4525 25.3662C55.48 25.3662 55.5074 25.3654 55.5345 25.3637L59.5379 25.3637C59.5514 25.3654 59.5651 25.3662 59.5791 25.3662C59.6066 25.3662 59.634 25.3654 59.6611 25.3637L63.6377 25.3637C63.6512 25.3654 63.6649 25.3662 63.6789 25.3662C63.7064 25.3662 63.7338 25.3654 63.7609 25.3637L66.2589 25.3636V24.6735L64.8569 24.6738C64.9656 24.4794 65.0276 24.2556 65.0276 24.0176ZM63.6789 27.0068C64.4225 27.0068 65.0276 27.6118 65.0276 28.3555C65.0276 28.5935 64.9656 28.8174 64.8569 29.0117L66.2589 29.0114V29.7015L63.7609 29.7016C63.7338 29.7033 63.7064 29.7041 63.6789 29.7041C63.6649 29.7041 63.6512 29.7033 63.6377 29.7017L59.6611 29.7016C59.634 29.7033 59.6066 29.7041 59.5791 29.7041C59.5651 29.7041 59.5514 29.7033 59.5379 29.7017L55.5345 29.7016C55.5074 29.7033 55.48 29.7041 55.4525 29.7041C55.4385 29.7041 55.4248 29.7033 55.4113 29.7017L53.8662 29.7015V29.0114L55.5064 29.0119C55.8444 28.9844 56.1111 28.7004 56.1111 28.3554C56.1111 27.9923 55.8156 27.6968 55.4525 27.6968C55.2619 27.6968 55.1074 27.5423 55.1074 27.3518C55.1074 27.1612 55.2619 27.0068 55.4525 27.0068C56.1961 27.0068 56.8012 27.6118 56.8012 28.3555C56.8012 28.5935 56.7392 28.8174 56.6305 29.0117L59.6331 29.0119C59.9711 28.9843 60.2377 28.7004 60.2377 28.3554C60.2377 27.9923 59.9422 27.6968 59.5791 27.6968C59.3885 27.6968 59.2341 27.5423 59.2341 27.3518C59.2341 27.1612 59.3885 27.0068 59.5791 27.0068C60.3228 27.0068 60.9278 27.6118 60.9278 28.3555C60.9278 28.5935 60.8658 28.8174 60.7571 29.0117L63.7328 29.0119C64.0708 28.9844 64.3375 28.7004 64.3375 28.3554C64.3375 27.9923 64.042 27.6968 63.6789 27.6968C63.4883 27.6968 63.3338 27.5423 63.3338 27.3518C63.3338 27.1612 63.4883 27.0068 63.6789 27.0068ZM63.6789 31.0153C64.4226 31.0153 65.0276 31.6203 65.0276 32.364C65.0276 32.6021 64.9656 32.8259 64.8569 33.0202L66.2589 33.02V33.71L63.7609 33.7102C63.7338 33.7118 63.7064 33.7126 63.6789 33.7126C63.665 33.7126 63.6512 33.7118 63.6377 33.7102L59.6612 33.7102C59.634 33.7118 59.6067 33.7126 59.5791 33.7126C59.5652 33.7126 59.5514 33.7118 59.5379 33.7102L55.5345 33.7102C55.5074 33.7118 55.48 33.7126 55.4525 33.7126C55.4386 33.7126 55.4248 33.7118 55.4113 33.7102L53.8663 33.71V33.02L55.5064 33.0204C55.8445 32.9929 56.1111 32.709 56.1111 32.364C56.1111 32.0137 55.8364 31.7265 55.4911 31.7064L55.4525 31.7053C55.262 31.7053 55.1075 31.5509 55.1075 31.3603C55.1075 31.1698 55.262 31.0153 55.4525 31.0153C56.1962 31.0153 56.8012 31.6203 56.8012 32.364C56.8012 32.6021 56.7392 32.8259 56.6305 33.0202L59.6331 33.0204C59.9711 32.9929 60.2378 32.7089 60.2378 32.364C60.2378 32.0137 59.963 31.7265 59.6178 31.7064L59.5791 31.7053C59.3886 31.7053 59.2341 31.5509 59.2341 31.3603C59.2341 31.1698 59.3886 31.0153 59.5791 31.0153C60.3228 31.0153 60.9278 31.6203 60.9278 32.364C60.9278 32.6021 60.8658 32.8259 60.7572 33.0202L63.7328 33.0204C64.0709 32.9929 64.3375 32.709 64.3375 32.364C64.3375 32.0137 64.0628 31.7265 63.7175 31.7064L63.6789 31.7053C63.4883 31.7053 63.3339 31.5509 63.3339 31.3603C63.3339 31.1698 63.4883 31.0153 63.6789 31.0153Z" fill="#253A4C" />
                    </g>
                    <rect x="56.3452" y="34.661" width="7.16102" height="2.47881" rx="0.194915" fill="#455D75" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M62.9554 34.661C63.2596 34.661 63.5062 34.9076 63.5062 35.2119V35.8729C63.5062 35.5808 63.2789 35.3418 62.9916 35.3232L62.9554 35.322H56.8961C56.604 35.322 56.365 35.5493 56.3464 35.8367L56.3452 35.8729V35.2119C56.3452 34.9076 56.5918 34.661 56.8961 34.661H62.9554Z" fill="#253A4C" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M53.8492 20.6633C54.0397 20.8532 54.4696 21.0733 55.0316 21.3029H49.0464V23.0932H57.983L55.6964 25.3725C55.398 25.6699 55.398 26.1535 55.6964 26.451C55.8464 26.599 56.0422 26.6737 56.2381 26.6737C56.434 26.6737 56.6299 26.599 56.7784 26.451L60.0633 23.1765L63.3483 26.451C63.4983 26.599 63.6942 26.6737 63.8901 26.6737C64.086 26.6737 64.2818 26.599 64.4303 26.451C64.7287 26.1535 64.7287 25.6699 64.4303 25.3725L62.1437 23.0932H71.0803V21.3029H65.095C65.6571 21.0733 66.087 20.8532 66.2775 20.6633C67.1727 19.7709 67.1727 18.3202 66.2775 17.4278C65.3837 16.5354 63.9253 16.5354 63.0315 17.4278C62.576 17.8818 60.9635 19.8115 60.0633 20.8967C59.1632 19.8115 57.5507 17.8818 57.0951 17.4278C56.1999 16.5354 54.7445 16.5354 53.8492 17.4278C52.9539 18.3202 52.9539 19.7709 53.8492 20.6633ZM55.4729 18.2836C55.2771 18.2836 55.0812 18.3583 54.9312 18.5063C54.6328 18.8037 54.6328 19.2873 54.9312 19.5848C55.1868 19.7846 56.4264 20.2209 57.8848 20.6709C57.086 19.7175 56.2779 18.7702 56.0147 18.5063C55.8647 18.3583 55.6688 18.2836 55.4729 18.2836ZM64.1135 18.5063C64.2635 18.3568 64.4594 18.2836 64.6553 18.2836C64.8512 18.2836 65.047 18.3583 65.194 18.5063C65.4939 18.8037 65.4939 19.2873 65.2123 19.568C64.946 19.7785 63.7018 20.2194 62.2434 20.6694C63.0422 19.7175 63.8503 18.7687 64.1135 18.5063Z" fill="#FF3A3A" />
                </g>
            </svg>

            <span class="info-block__card-title">Приложение</span>
            <span class="info-block__card-text">Клиент скачивает приложение “Попробуй”</span>
        </div>

        <div class="info-block__card">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.66666 0C5.98476 0 3 2.98477 3 6.66667V77.4965C3 78.3014 3.47483 79.0563 4.28267 79.5213C5.08433 79.9962 6.12033 80.1062 7.06383 79.8663L24.4908 75.1567L38.8653 79.8163C39.5992 80.0612 40.4193 80.0612 41.1532 79.8163L55.5215 75.1567L72.9485 79.8663C73.263 79.9513 73.5898 79.9963 73.9167 79.9963C74.558 79.9963 75.187 79.8363 75.7173 79.5213C76.5252 79.0563 77 78.3014 77 77.4965V6.66665C77 2.98476 74.0152 0 70.3333 0H9.66666Z" fill="#F4F6F8" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.4572 35.7299C38.1879 35.7299 38.7432 35.1752 38.7432 34.4745V24.2847C38.7432 23.5839 38.1879 23 37.4572 23H27.2568C26.5553 23 26 23.5839 26 24.2847V34.4745C26 35.1752 26.5553 35.7299 27.2568 35.7299H37.4572ZM52.714 35.7299C53.4447 35.7299 54 35.1752 54 34.4745V24.2847C54 23.5839 53.4447 23 52.714 23H42.5428C41.8121 23 41.2568 23.5839 41.2568 24.2847V34.4745C41.2568 35.1752 41.8121 35.7299 42.5428 35.7299H52.714ZM51.4572 33.1898H43.7996V25.5401H51.4572V33.1898ZM36.2004 33.1898H28.5136V25.5401H36.2004V33.1898ZM49.2359 30.9708V27.7883H46.0209V30.9708H49.2359ZM33.9499 30.9708V27.7883H30.7641V30.9708H33.9499ZM37.4572 51C38.1879 51 38.7432 50.4161 38.7432 49.7153V39.5255C38.7432 38.8248 38.1879 38.2701 37.4572 38.2701H27.2568C26.5553 38.2701 26 38.8248 26 39.5255V49.7153C26 50.4161 26.5553 51 27.2568 51H37.4572ZM53.62 41.8029V38.6204H50.4342V41.8029H53.62ZM44.8225 41.8029V38.6204H41.6367V41.8029H44.8225ZM36.2004 48.4599H28.5136V40.8102H36.2004V48.4599ZM33.9499 46.2117V43.0292H30.7641V46.2117H33.9499ZM49.2067 46.2117V43.0292H46.0209V46.2117H49.2067ZM44.8225 50.6204V47.438H41.6367V50.6204H44.8225ZM53.62 50.6204V47.438H50.4342V50.6204H53.62Z" fill="#768BA0" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5599 26.6992C18.5599 28.2011 17.7669 29.0229 16.2658 29.0229C14.8214 29.0229 14 28.2011 14 26.6992V19.7564C14 13.9188 16.9739 11 22.8932 11H29.8039C31.305 11 32.1264 11.8218 32.1264 13.267C32.1264 14.7406 31.305 15.5624 29.8039 15.5624H22.9499C20.1176 15.5624 18.5599 17.0643 18.5599 20.0114V26.6992ZM66 26.6992C66 28.2011 65.207 29.0229 63.7059 29.0229C62.2614 29.0229 61.4401 28.2011 61.4401 26.6992V20.0114C61.4401 17.0643 59.8257 15.5624 57.0218 15.5624H50.1678C48.695 15.5624 47.8736 14.7406 47.8736 13.267C47.8736 11.8218 48.695 11 50.1678 11H57.1068C63.0261 11 66 13.9188 66 19.7564V26.6992ZM57.1068 63C63.0261 63 66 60.0529 66 54.2153V47.3008C66 45.7989 65.1786 44.9771 63.7059 44.9771C62.2331 44.9771 61.4401 45.7989 61.4401 47.3008V53.9886C61.4401 56.9357 59.8257 58.4376 57.0218 58.4376H50.1678C48.695 58.4376 47.8736 59.2594 47.8736 60.733C47.8736 62.1782 48.695 63 50.1678 63H57.1068ZM32.1264 60.733C32.1264 62.1782 31.305 63 29.8039 63H22.8932C16.9739 63 14 60.0812 14 54.2153V47.3008C14 45.7989 14.793 44.9771 16.2658 44.9771C17.7386 44.9771 18.5599 45.7989 18.5599 47.3008V53.9886C18.5599 56.9357 20.1176 58.4376 22.9499 58.4376H29.8039C31.305 58.4376 32.1264 59.2594 32.1264 60.733Z" fill="#FFA956" />
            </svg>

            <span class="info-block__card-title">Чек</span>
            <span class="info-block__card-text">Совершает покупку на определенную сумму <strong>*</strong> и сканирует QR код на чеке</span>
        </div>

        <div class="info-block__card">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73.5308 74.2458C74.2516 75.1848 75.0567 76.1045 75.912 77.0258C76.8921 78.2094 76.0513 80 74.5141 80H4.81906C3.28171 80 2.44096 78.2094 3.42115 77.0258C4.27972 76.1012 5.08811 75.1817 5.80723 74.2458C7.83374 71.61 9.17505 68.8397 9.04546 65.4056V26.3456C9.04546 21.6503 7.40446 17.1023 4.40604 13.4886C3.49729 12.3941 3 11.0162 3 9.59469V2.06922C2.99984 0.926094 3.92641 0 5.07013 0H74.263C75.4068 0 76.3333 0.926094 76.3333 2.06922V9.59469C76.3333 11.0162 75.8361 12.3941 74.9289 13.4886C71.9289 17.1023 70.2879 21.6503 70.2879 26.3456L70.2877 65.4056C70.1597 68.8234 71.5091 71.6116 73.5308 74.2458Z" fill="#EAEDF5" />
                <path d="M74.2631 0C75.4068 0 76.3333 0.926094 76.3333 2.06922V9.39391L76.0677 9.59469H8.13359C8.13359 10.9414 8.57991 12.2489 9.39958 13.3135L9.53963 13.4886C12.4631 17.012 14.0962 21.4235 14.176 25.9938L14.1791 26.3456V65.4056C14.2602 67.5655 13.7599 69.4627 12.8734 71.2286C12.1956 72.5788 13.1149 74.1643 14.5979 74.2428L14.7131 74.2458H73.5313C74.2521 75.1848 75.0572 76.1045 75.9125 77.0258C76.8692 78.1812 76.0908 79.9151 74.623 79.997L74.5144 80H4.81922C3.28186 80 2.44112 78.2094 3.42116 77.0259L3.80954 76.6042C6.76218 73.3683 9.11328 70.0651 9.05285 65.6925L9.04547 65.4058V26.3456C9.04547 21.6503 7.40447 17.1023 4.40448 13.4886C3.54769 12.4549 3.05652 11.1685 3.00459 9.83117L3 9.59469V2.06922C3 1.83277 3.03968 1.60559 3.11274 1.39397L3.15198 1.28935C3.45996 0.532972 4.20264 0 5.07028 0H74.2631Z" fill="#C9CCD7" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8034 17.7512C19.8034 17.2534 20.2707 16.7873 21.4147 16.7873C22.2094 16.7873 22.6367 17.0082 22.9774 17.1842C23.2031 17.3008 23.3907 17.3978 23.6219 17.3978C24.3309 17.3978 24.6209 16.5142 24.6209 16.0803C24.6209 14.8273 22.2685 14.6667 21.4147 14.6667C19.4005 14.6667 17.2901 15.5824 17.2901 17.9922C17.2901 20.179 19.0184 20.9795 20.4642 21.6492C21.5039 22.1307 22.3975 22.5446 22.3975 23.3577C22.3975 24.1288 21.5758 24.4179 20.8345 24.4179C19.9587 24.4179 19.4297 24.0118 18.9901 23.6742C18.6776 23.4343 18.4103 23.229 18.0956 23.229C17.4833 23.229 17 24.0321 17 24.5783C17 25.6386 18.7722 26.6667 20.883 26.6667C23.2192 26.6667 24.9108 25.4135 24.9108 23.1002C24.9108 20.617 22.9885 19.7721 21.5026 19.119C20.5664 18.7076 19.8034 18.3722 19.8034 17.7512ZM33.1281 14.7631C32.4998 14.7631 31.8714 14.9881 31.8714 15.5181V20.9801L29.2614 16.016C28.6491 14.8433 28.3108 14.7628 27.4086 14.7628C26.7803 14.7628 26.1519 15.0039 26.1519 15.5339V25.7352C26.1519 26.2493 26.7803 26.5064 27.4086 26.5064C28.0368 26.5064 28.6654 26.2494 28.6654 25.7352V20.2731L31.7266 25.8315C32.0327 26.3937 32.5482 26.5062 33.1283 26.5062C33.7566 26.5062 34.3851 26.2493 34.3851 25.7351V15.5185C34.3848 14.9883 33.7563 14.7631 33.1281 14.7631ZM41.6353 15.5021C41.458 14.9399 40.7329 14.6667 39.992 14.6667C39.251 14.6667 38.5258 14.9399 38.3486 15.5021L35.3518 25.3017L35.3504 25.3075C35.3348 25.3699 35.3194 25.4316 35.3194 25.4785C35.3194 26.0728 36.2379 26.5067 36.9305 26.5067C37.3334 26.5067 37.6558 26.3783 37.7522 26.0408L38.3 24.0327H41.6995L42.2473 26.0408C42.344 26.3783 42.6662 26.5067 43.069 26.5067C43.7616 26.5067 44.6801 26.073 44.6801 25.4785C44.6801 25.4303 44.664 25.3665 44.6478 25.3024L44.6478 25.3024L44.6476 25.3017L41.6353 15.5021ZM38.8159 22.105L39.992 17.7996L41.1681 22.105H38.8159ZM49.4497 16.9481C50.8192 16.9481 50.8677 17.9763 50.8837 18.3939C50.9161 18.9724 51.4636 19.1489 52.1404 19.1489C52.9943 19.1489 53.3972 18.9239 53.3972 17.96C53.3972 15.9197 51.6571 14.7631 49.3531 14.7631C47.2424 14.7631 45.4864 15.7914 45.4864 18.5544V22.8115C45.4864 25.5746 47.2425 26.6027 49.3531 26.6027C51.6573 26.6027 53.3972 25.3816 53.3972 23.2452C53.3972 22.2813 52.9943 22.0563 52.1243 22.0563C51.4799 22.0563 50.932 22.2169 50.8839 22.8113C50.8354 23.4378 50.755 24.4177 49.4661 24.4177C48.5316 24.4177 47.9999 23.9037 47.9999 22.8113V18.5542C47.9999 17.462 48.5313 16.9481 49.4497 16.9481ZM59.536 19.8397L62.8712 24.9323C62.9519 25.0607 62.9998 25.2054 63 25.35C63 25.9767 62.2106 26.6032 61.4855 26.6032C61.1473 26.6032 60.8249 26.4747 60.6155 26.1373L57.8605 21.9603L57.1839 22.8278V25.7356C57.1839 26.2498 56.5552 26.5067 55.9271 26.5067C55.2988 26.5067 54.6704 26.2496 54.6704 25.7356V15.5185C54.6704 14.9884 55.2989 14.7635 55.9271 14.7635C56.5554 14.7635 57.1839 14.9883 57.1839 15.5185V19.3738L60.1966 15.1165C60.3739 14.8596 60.5995 14.7631 60.8572 14.7631C61.5015 14.7631 62.3394 15.4218 62.3394 16.0483C62.3394 16.177 62.3072 16.3536 62.1782 16.5304L59.536 19.8397Z" fill="#8FA0B2" />
                <path d="M5.06922 0C3.92609 0 3 0.926094 3 2.06922V9.59469H8.13078V2.06922C8.13094 0.926094 9.05703 0 10.2 0H5.06922Z" fill="#B4B8C6" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6637 47.2226L25.3814 49.0737L33.099 50.9246C33.7462 51.0799 34.3189 50.4762 34.1296 49.8379L31.8739 42.2287L29.6181 34.6194C29.4287 33.9812 28.6195 33.7871 28.1615 34.2701L22.6998 40.0284L17.2381 45.7866C16.7798 46.2696 17.0164 47.0673 17.6637 47.2226ZM28.0307 41.4216C28.0307 41.9572 27.5966 42.3913 27.061 42.3913C26.5255 42.3913 26.0914 41.9572 26.0914 41.4216C26.0914 40.8861 26.5255 40.4519 27.061 40.4519C27.5966 40.4519 28.0307 40.8861 28.0307 41.4216ZM25.1585 44.4363C25.1585 44.9719 24.7244 45.406 24.1889 45.406C23.6533 45.406 23.2192 44.9719 23.2192 44.4363C23.2192 43.9008 23.6533 43.4666 24.1889 43.4666C24.7244 43.4666 25.1585 43.9008 25.1585 44.4363ZM28.386 46.279C28.9215 46.279 29.3557 45.8448 29.3557 45.3093C29.3557 44.7737 28.9215 44.3396 28.386 44.3396C27.8504 44.3396 27.4163 44.7737 27.4163 45.3093C27.4163 45.8448 27.8504 46.279 28.386 46.279ZM58.9956 64.7556L49.7401 67.8877C48.9637 68.1505 48.1941 67.4742 48.3548 66.6706L50.2699 57.0892L52.1851 47.5078C52.3457 46.7041 53.3162 46.3758 53.9318 46.9167L61.2718 53.3661L68.6118 59.8155C69.2276 60.3564 69.0266 61.3611 68.2504 61.6236L58.9956 64.7556ZM55.4868 57.3636C56.0223 57.3636 56.4565 56.9294 56.4565 56.3939C56.4565 55.8584 56.0223 55.4242 55.4868 55.4242C54.9513 55.4242 54.5171 55.8584 54.5171 56.3939C54.5171 56.9294 54.9513 57.3636 55.4868 57.3636ZM55.5873 61.5262C56.1228 61.5262 56.557 61.0921 56.557 60.5566C56.557 60.021 56.1228 59.5869 55.5873 59.5869C55.0517 59.5869 54.6176 60.021 54.6176 60.5566C54.6176 61.0921 55.0517 61.5262 55.5873 61.5262ZM60.7649 58.4372C60.7649 58.9727 60.3308 59.4069 59.7952 59.4069C59.2597 59.4069 58.8256 58.9727 58.8256 58.4372C58.8256 57.9016 59.2597 57.4675 59.7952 57.4675C60.3308 57.4675 60.7649 57.9016 60.7649 58.4372ZM32.007 64.1705L29.9226 71.8284C29.7478 72.4707 28.9432 72.6829 28.4743 72.2102L22.8846 66.576L17.295 60.9418C16.826 60.4691 17.0446 59.6663 17.6884 59.4966L25.3626 57.4727L33.0368 55.449C33.6806 55.2793 34.2665 55.8699 34.0917 56.5123L32.007 64.1705ZM27.9856 61.8785C28.5211 61.8785 28.9553 61.4444 28.9553 60.9088C28.9553 60.3733 28.5211 59.9391 27.9856 59.9391C27.45 59.9391 27.0159 60.3733 27.0159 60.9088C27.0159 61.4444 27.45 61.8785 27.9856 61.8785ZM24.1954 63.6045C24.731 63.6045 25.1651 63.1703 25.1651 62.6348C25.1651 62.0992 24.731 61.6651 24.1954 61.6651C23.6599 61.6651 23.2257 62.0992 23.2257 62.6348C23.2257 63.1703 23.6599 63.6045 24.1954 63.6045ZM28.7659 65.6737C28.7659 66.2092 28.3317 66.6434 27.7962 66.6434C27.2607 66.6434 26.8265 66.2092 26.8265 65.6737C26.8265 65.1381 27.2607 64.704 27.7962 64.704C28.3317 64.704 28.7659 65.1381 28.7659 65.6737ZM63.2886 68.5661L63.1769 76.8622L63.1349 80H51.7529L47.4413 77.4338C46.8438 77.0775 46.8552 76.2081 47.4624 75.8681L54.7029 71.8156L61.9433 67.7647C62.5504 67.4247 63.2985 67.8698 63.2886 68.5661ZM60.2957 75.6123C60.2957 76.1479 59.8615 76.582 59.326 76.582C58.7904 76.582 58.3563 76.1479 58.3563 75.6123C58.3563 75.0768 58.7904 74.6427 59.326 74.6427C59.8615 74.6427 60.2957 75.0768 60.2957 75.6123ZM56.3711 77.0014C56.3711 77.5369 55.937 77.9711 55.4015 77.9711C54.8659 77.9711 54.4318 77.5369 54.4318 77.0014C54.4318 76.4659 54.8659 76.0317 55.4015 76.0317C55.937 76.0317 56.3711 76.4659 56.3711 77.0014Z" fill="#B4B8C6" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M42.7418 0H36.7418V31.1561C33.3147 27.0452 29.3329 22.3335 27.9626 20.9632C24.3737 17.3742 18.5393 17.3742 14.9504 20.9632C11.3614 24.5521 11.3614 30.3865 14.9504 33.9755C15.7007 34.7258 17.378 35.5936 19.5742 36.5H9.05664V42.5H32.7694L22.3553 52.9141C21.159 54.1104 21.159 56.0552 22.3553 57.2515C22.9565 57.8466 23.7418 58.1472 24.5271 58.1472C25.3123 58.1472 26.0976 57.8466 26.6927 57.2515L36.7418 47.2025V80H42.7418V46.9632L53.0301 57.2515C53.6314 57.8466 54.4166 58.1472 55.2019 58.1472C55.9872 58.1472 56.7725 57.8466 57.3675 57.2515C58.5639 56.0552 58.5639 54.1104 57.3675 52.9141L46.9534 42.5H70.39V36.5H60.1487C62.3448 35.5936 64.0221 34.7258 64.7725 33.9755C68.3614 30.3865 68.3614 24.5521 64.7725 20.9632C61.1896 17.3742 55.343 17.3742 51.7602 20.9632C50.3579 22.3655 46.2207 27.2672 42.7418 31.4432V0ZM21.4596 24.4049C20.6743 24.4049 19.889 24.7055 19.2878 25.3006C18.0915 26.4969 18.0915 28.4417 19.2878 29.638C20.3123 30.4417 25.2817 32.1963 31.1283 34.0061C27.9258 30.1718 24.6866 26.362 23.6314 25.3006C23.0301 24.7055 22.2448 24.4049 21.4596 24.4049ZM56.0976 25.3006C56.6988 24.6994 57.4841 24.4049 58.2694 24.4049C59.0547 24.4049 59.8399 24.7055 60.4289 25.3006C61.6314 26.4969 61.6314 28.4417 60.5025 29.5706C59.435 30.4172 54.4473 32.1902 48.6007 34C51.8031 30.1718 55.0424 26.3558 56.0976 25.3006Z" fill="#FFA956" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7416 0H42.7416V9.5H36.7416V0ZM9 36.5H14.3333V42.5H9V36.5ZM42.7416 74.2753H36.7416V80H42.7416V74.2753Z" fill="#F19B49" />
            </svg>

            <span class="info-block__card-title">Товар</span>
            <span class="info-block__card-text">После проверки, он выбирает товар, который хочет получить на пробу <strong>*</strong></span>
        </div>
    </div>
    <span class="info-block__text">
        <strong>*</strong> Сумма для получения подарка устанавливается магазином, в котором размещен аппарат Попробуй.<br>
        <strong>*</strong> Вы можете попробовать каждый товар не более 1 раза!
    </span>
</div>
<div class="loyalty" id="loyalty">
    <div class="container">
        <h2>Повышайте лояльность</h2>
        <span class="loyalty__info">Семпломат помогает вам повысить лояльность ваших клиентов. Каждый раз, получать новый товар на пробу, абсолютно бесплатно.
            <br><br>
            Что может быть лучшим мотиватором для выбора именно вашего магазина?</span>
        <h3>Увеличивайте продажи!</h3>
        <div class="loyalty__item-wrapper">
            <div class="loyalty-item">
                <span class="loyalty-item__title">Стимулируете клиентов тратить больше</span>
                <span class="loyalty-item__text">Задавая клиентам порог, при котором они могут получить бесплатный подарок, вы стимулируете их тратить больше.</span>
            </div>
            <div class="loyalty-item">
                <span class="loyalty-item__title">Увеличивает товарооборот торговой точки</span>
                <span class="loyalty-item__text">В среднем, установка нашего аппарата увеличивает товарооборот торговой точки на 3%, в зависимости от типа магазина (магазин у дома, супермаркет, гипермаркет)</span>
            </div>
        </div>
        <div class="loyalty__testing-link">
            <div class="loyalty__testing-link-wrapper">
                <span class="loyalty__testing-link-title">Не верите? Мы готовы протестировать!</span>
                <span class="loyalty__testing-link-info">Подать заявку на бесплатное тестирование</span>
            </div>
            <a href="mailto:help@poprobuy.ru" class="loyalty__link">
                Хочу протестировать
            </a>
        </div>
    </div>
</div>
<div class="support container " id="support">
    <h2>Поддержка</h2>
    <div class="support__subtitle">Если у вас возникли проблемы с использованием нашего сервиса, вы можете:</div>
    <div class="support__wrapper">
        <div class="support__info">
            <div class="support__info-item">
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M43 25H1V2.70213C1 1.76204 1.76437 1 2.70732 1H41.2927C42.2356 1 43 1.76204 43 2.70213V25Z" fill="#EDEFF2" />
                    <path d="M41.2967 23.0071C40.3562 23.0071 39.5938 23.7796 39.5938 24.7325V24.2785V23.4611C39.5938 22.5082 38.8313 21.7357 37.8908 21.7357C36.9503 21.7357 36.1878 22.5082 36.1878 23.4611V22.3682C36.1878 21.4153 35.4254 20.6428 34.4849 20.6428C33.5444 20.6428 32.7819 21.4153 32.7819 22.3682V16.7254C32.7819 15.7725 32.0195 15 31.079 15C30.1385 15 29.376 15.7725 29.376 16.7254V29.2195L27.376 25.4672C26.914 24.6005 25.8552 24.2637 24.9871 24.7074C24.2427 25.0878 23.8547 25.9373 24.0503 26.7585L25.3469 32.2037C25.6265 33.378 26.1326 34.4847 26.8361 35.46L29.3761 38.9817V43H41.2504V38.9816L42.2494 35.7538C42.7469 34.1465 43 32.4719 43 30.7874V24.7325C42.9997 23.7796 42.2372 23.0071 41.2967 23.0071Z" fill="#FFA956" />
                    <path d="M2.70298 23.0071C3.6435 23.0071 4.40597 23.7796 4.40597 24.7325V24.2785V23.4611C4.40597 22.5082 5.16844 21.7357 6.10895 21.7357C7.04946 21.7357 7.81193 22.5082 7.81193 23.4611V22.3682C7.81193 21.4153 8.57441 20.6428 9.51492 20.6428C10.4554 20.6428 11.2179 21.4153 11.2179 22.3682V16.7254C11.2179 15.7725 11.9804 15 12.9209 15C13.8614 15 14.6239 15.7725 14.6239 16.7254V29.2195L16.6239 25.4672C17.0859 24.6005 18.1448 24.2637 19.0128 24.7074C19.7572 25.0878 20.1453 25.9373 19.9497 26.7585L18.6531 32.2037C18.3735 33.378 17.8674 34.4847 17.1639 35.46L14.6238 38.9817V43H2.74964V38.9816L1.7506 35.7538C1.25311 34.1464 1 32.4718 1 30.7874V24.7325C1 23.7796 1.76247 23.0071 2.70298 23.0071Z" fill="#FFA956" />
                    <path d="M5.5 13.5311H9.19531C9.66986 13.5311 10.0547 13.1462 10.0547 12.6717C10.0547 12.1971 9.66986 11.8123 9.19531 11.8123H5.5C5.02545 11.8123 4.64062 12.1971 4.64062 12.6717C4.64062 13.1462 5.02545 13.5311 5.5 13.5311Z" fill="#CFD2DC" />
                    <path d="M18.6709 12.6717C18.6709 12.1971 18.286 11.8123 17.8115 11.8123H16.4503C15.9758 11.8123 15.5909 12.1971 15.5909 12.6717C15.5909 13.1462 15.9758 13.5311 16.4503 13.5311H17.8115C18.286 13.5311 18.6709 13.1462 18.6709 12.6717Z" fill="#CFD2DC" />
                    <path d="M33.0799 12.6717C33.0799 12.1971 32.6951 11.8123 32.2205 11.8123H30.8594C30.3848 11.8123 30 12.1971 30 12.6717C30 13.1462 30.3848 13.5311 30.8594 13.5311H32.2205C32.6951 13.5311 33.0799 13.1462 33.0799 12.6717Z" fill="#CFD2DC" />
                    <path d="M14.0799 12.6717C14.0799 12.1971 13.6951 11.8123 13.2205 11.8123H11.8594C11.3848 11.8123 11 12.1971 11 12.6717C11 13.1462 11.3848 13.5311 11.8594 13.5311H13.2205C13.6951 13.5311 14.0799 13.1462 14.0799 12.6717Z" fill="#CFD2DC" />
                    <path d="M5.5 18.3433H6.98457C7.45912 18.3433 7.84395 17.9585 7.84395 17.4839C7.84395 17.0094 7.45912 16.6246 6.98457 16.6246H5.5C5.02545 16.6246 4.64062 17.0094 4.64062 17.4839C4.64062 17.9585 5.02545 18.3433 5.5 18.3433Z" fill="#CFD2DC" />
                    <path d="M17.6479 17.4839C17.6479 17.9585 18.0328 18.3433 18.5073 18.3433H20.1071C20.5816 18.3433 20.9664 17.9585 20.9664 17.4839C20.9664 17.0094 20.5816 16.6246 20.1071 16.6246H18.5073C18.0328 16.6246 17.6479 17.0094 17.6479 17.4839Z" fill="#CFD2DC" />
                    <path d="M5.5 8.71875H8.46931C8.94386 8.71875 9.32869 8.33392 9.32869 7.85938C9.32869 7.38483 8.94386 7 8.46931 7H5.5C5.02545 7 4.64062 7.38483 4.64062 7.85938C4.64062 8.33392 5.02545 8.71875 5.5 8.71875Z" fill="#CFD2DC" />
                    <path d="M17.8115 7H15.0891C14.6146 7 14.2297 7.38483 14.2297 7.85938C14.2297 8.33392 14.6146 8.71875 15.0891 8.71875H17.8115C18.2861 8.71875 18.6709 8.33392 18.6709 7.85938C18.6709 7.38483 18.2861 7 17.8115 7Z" fill="#CFD2DC" />
                    <path d="M11.8241 8.71832C12.0501 8.71832 12.2718 8.62714 12.4317 8.46738C12.5914 8.30668 12.6835 8.08582 12.6835 7.85894C12.6835 7.63293 12.5915 7.41121 12.4317 7.25136C12.2718 7.09152 12.0509 7.00043 11.8241 7.00043C11.5981 7.00043 11.3764 7.09152 11.2165 7.25136C11.0568 7.41121 10.9647 7.63293 10.9647 7.85894C10.9647 8.08582 11.0567 8.30668 11.2165 8.46738C11.3764 8.62714 11.5981 8.71832 11.8241 8.71832Z" fill="#CFD2DC" />
                    <path d="M20.0664 12.6717C20.0664 13.1462 20.4512 13.5311 20.9258 13.5311H23.203C23.6776 13.5311 24.0624 13.1462 24.0624 12.6717C24.0624 12.1971 23.6776 11.8123 23.203 11.8123H20.9258C20.4512 11.8123 20.0664 12.1971 20.0664 12.6717Z" fill="#CFD2DC" />
                    <path d="M27.8926 13.2789C28.0525 13.1192 28.1445 12.8975 28.1445 12.6714C28.1445 12.4454 28.0526 12.2237 27.8926 12.0639C27.7329 11.904 27.5112 11.8121 27.2852 11.8121C27.0591 11.8121 26.8374 11.9039 26.6776 12.0639C26.5177 12.2238 26.4258 12.4454 26.4258 12.6714C26.4258 12.8983 26.5176 13.1192 26.6776 13.2789C26.8374 13.4396 27.0591 13.5308 27.2852 13.5308C27.5112 13.5308 27.7329 13.4396 27.8926 13.2789Z" fill="#CFD2DC" />
                    <path d="M34.4362 12.6717C34.4362 13.1462 34.821 13.5311 35.2955 13.5311H38.5297C39.0043 13.5311 39.3891 13.1462 39.3891 12.6717C39.3891 12.1971 39.0043 11.8123 38.5297 11.8123H35.2955C34.8209 11.8123 34.4362 12.1971 34.4362 12.6717Z" fill="#CFD2DC" />
                    <path d="M24.4778 16.6246C24.0032 16.6246 23.6184 17.0094 23.6184 17.4839C23.6184 17.9585 24.0032 18.3433 24.4778 18.3433H26.2109C26.6854 18.3433 27.0703 17.9585 27.0703 17.4839C27.0703 17.0094 26.6854 16.6246 26.2109 16.6246H24.4778Z" fill="#CFD2DC" />
                    <path d="M38.3619 16.6246H36.7622C36.2877 16.6246 35.9028 17.0094 35.9028 17.4839C35.9028 17.9585 36.2877 18.3433 36.7622 18.3433H38.3619C38.8365 18.3433 39.2213 17.9585 39.2213 17.4839C39.2213 17.0094 38.8365 16.6246 38.3619 16.6246Z" fill="#CFD2DC" />
                    <path d="M24.2773 7H22C21.5255 7 21.1406 7.38483 21.1406 7.85938C21.1406 8.33392 21.5255 8.71875 22 8.71875H24.2773C24.7518 8.71875 25.1366 8.33392 25.1366 7.85938C25.1366 7.38483 24.7518 7 24.2773 7Z" fill="#CFD2DC" />
                    <path d="M38.5109 8.71875C38.9855 8.71875 39.3703 8.33392 39.3703 7.85938C39.3703 7.38483 38.9855 7 38.5109 7H35.6661C35.1916 7 34.8068 7.38483 34.8068 7.85938C34.8068 8.33392 35.1916 8.71875 35.6661 8.71875H38.5109Z" fill="#CFD2DC" />
                    <path d="M31.2383 8.71875C31.7129 8.71875 32.0977 8.33392 32.0977 7.85938C32.0977 7.38483 31.7129 7 31.2383 7H29.3556C28.881 7 28.4962 7.38483 28.4962 7.85938C28.4962 8.33392 28.881 8.71875 29.3556 8.71875H31.2383Z" fill="#CFD2DC" />
                </svg>

                <span class="support__info-text">Написать нам используя форму обратной связи</span>
            </div>
            <div class="support__info-item">
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35 1L43 9V34.6792C43 35.3631 42.4876 35.9256 41.8308 35.9932L41.6977 36H39V19.8216C39 17.07 36.9819 15.1143 34.977 15.0048L34.8002 15H15V2.32075C15 1.63688 15.5124 1.07445 16.1692 1.00682L16.3023 1H35Z" fill="#EDEFF2" />
                    <path d="M43 9H36.4545C35.6512 9 35 8.34882 35 7.54545V1L43 9Z" fill="#CFD2DC" />
                    <rect x="17.6963" y="5.49982" width="11.6875" height="4.125" fill="#EDEFF2" />
                    <path d="M26.5547 12.8904H18.1633C17.6888 12.8904 17.304 13.2752 17.304 13.7498C17.304 14.2244 17.6888 14.6092 18.1633 14.6092H26.5547C27.0292 14.6092 27.4141 14.2244 27.4141 13.7498C27.4141 13.2752 27.0292 12.8904 26.5547 12.8904Z" fill="#EDEFF2" />
                    <path d="M39.0714 14.6094C39.2974 14.6094 39.5183 14.5174 39.679 14.3576C39.8388 14.1977 39.9308 13.976 39.9308 13.75C39.9308 13.524 39.8389 13.3023 39.679 13.1424C39.5183 12.9826 39.2974 12.8906 39.0714 12.8906C38.8445 12.8906 38.6228 12.9826 38.463 13.1424C38.3032 13.3023 38.212 13.5231 38.212 13.75C38.212 13.976 38.3032 14.1977 38.463 14.3576C38.6229 14.5174 38.8446 14.6094 39.0714 14.6094Z" fill="#EDEFF2" />
                    <path d="M34.9623 12.8904H30.5078C30.0333 12.8904 29.6484 13.2752 29.6484 13.7498C29.6484 14.2244 30.0333 14.6092 30.5078 14.6092H34.9623C35.4368 14.6092 35.8217 14.2244 35.8217 13.7498C35.8217 13.2752 35.4368 12.8904 34.9623 12.8904Z" fill="#EDEFF2" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.428 29.2234C22.7139 29.9477 21.2802 30.2867 20.0152 30.2867C18.7502 30.2867 17.3164 29.9477 16.6024 29.2234L3.26364 15.7243C3.85614 15.2312 4.84363 15 6.19574 15H33.5764C35.0348 15 36.0983 15.2466 36.7364 15.7551L23.428 29.2234ZM12.7132 28.792L1.47096 40.1491C1.16711 39.5944 1 38.7314 1 37.5294V20.4706C1 19.1607 1.1975 18.2207 1.56211 17.6197L12.7132 28.792ZM38.5442 40.1337C38.8481 39.579 39 38.7314 39 37.5294V20.4706C39 19.1761 38.8025 18.2207 38.4379 17.6505L27.3172 28.792L38.5442 40.1337ZM36.949 42.1524C36.311 42.7072 35.2627 43 33.8043 43H6.42362C4.87402 43 3.76498 42.7072 3.08133 42.137L14.5059 30.6103L15.3111 31.4117C16.3897 32.475 18.1088 32.9681 20.0152 32.9681C21.9216 32.9681 23.6255 32.475 24.7041 31.4117L25.5093 30.5949L36.949 42.1524Z" fill="#FFA956" />
                </svg>

                <div class="support__info-item-wrapper">
                    <span class="support__info-text">Написать нам письмо на электронную почту</span>
                    <a href="mailto:help@poprobuy.ru" class="support__info-link">help@poprobuy.ru</a>
                </div>
            </div>
            <div class="support__info-item">
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40.1328 12.9076H37.4326C35.136 7.40972 30.079 3.41432 24.2571 2.65125C18.4878 1.87579 12.8192 4.11466 9.11066 8.62151C8.02046 9.94656 7.15567 11.3871 6.52248 12.9076H3.86719C1.73473 12.9076 0 14.6566 0 16.8066V22.0052C0 24.1552 1.73473 25.9041 3.86719 25.9041H9.16102L8.60716 24.1996C6.99454 19.2345 7.90221 14.1615 11.0959 10.2816C14.2343 6.46764 19.0266 4.58037 23.9223 5.22768C29.0998 5.90766 33.5939 9.59929 35.3745 14.6349L35.3854 14.6641C35.6724 15.4333 35.8738 16.224 35.9896 17.0376C36.3761 19.4681 36.1558 21.9315 35.3539 24.1616L35.3482 24.1771C33.3578 29.8747 28.0045 33.7021 22.0252 33.7021C19.8788 33.7021 18.1328 35.4511 18.1328 37.601C18.1328 39.751 19.8675 41.5 22 41.5C24.1325 41.5 25.8672 39.751 25.8672 37.601V35.8482C31.0143 34.6148 35.3377 30.9361 37.4157 25.9041H40.1328C42.2653 25.9041 44 24.1551 44 22.0051V16.8065C44 14.6565 42.2653 12.9076 40.1328 12.9076Z" fill="#FFA956" />
                    <path d="M32.2187 13.2115C33.4143 15.1534 34.0314 17.3963 33.9988 19.6769C33.7873 26.2253 28.4563 31.424 21.9389 31.4997L10.5999 31.5L11.7655 29.5195C12.4597 28.3774 12.4657 26.9464 11.7826 25.7985C8.30891 20.1535 10.0668 12.7596 15.7097 9.28384C21.3527 5.80811 28.7441 7.5665 32.2187 13.2115Z" fill="#EDEFF2" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3484 21.5V18.9219H15.7703V21.5H18.3484ZM23.5046 18.9219V21.5H20.9265V18.9219H23.5046ZM28.6609 18.9219V21.5H26.0828V18.9219H28.6609Z" fill="#CFD2DC" />
                </svg>

                <div class="support__info-item-wrapper">
                    <span class="support__info-text">Позвонить по телефону горячей линии</span>
                    <a href="tel:8 800 303 20 20" class="support__info-link support__info-link_bold">8 800 303 20 20</a>
                </div>
            </div>
        </div>
        <form>
            <div>
                <div class="support__form-wrapper">
                    <input class="support__input" placeholder="Имя" type="text">
                    <input class="support__input" placeholder="Email" type="email">
                </div>
                <textarea class="support__textarea support__textarea_min" placeholder="Ваше сообщение" name="message"></textarea>
            </div>
            <button class="support__btn">Отправить</button>
        </form>
        <div class="support__info-item support__info-item_mob">
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 25H1V2.70213C1 1.76204 1.76437 1 2.70732 1H41.2927C42.2356 1 43 1.76204 43 2.70213V25Z" fill="#EDEFF2" />
                <path d="M41.2967 23.0071C40.3562 23.0071 39.5938 23.7796 39.5938 24.7325V24.2785V23.4611C39.5938 22.5082 38.8313 21.7357 37.8908 21.7357C36.9503 21.7357 36.1878 22.5082 36.1878 23.4611V22.3682C36.1878 21.4153 35.4254 20.6428 34.4849 20.6428C33.5444 20.6428 32.7819 21.4153 32.7819 22.3682V16.7254C32.7819 15.7725 32.0195 15 31.079 15C30.1385 15 29.376 15.7725 29.376 16.7254V29.2195L27.376 25.4672C26.914 24.6005 25.8552 24.2637 24.9871 24.7074C24.2427 25.0878 23.8547 25.9373 24.0503 26.7585L25.3469 32.2037C25.6265 33.378 26.1326 34.4847 26.8361 35.46L29.3761 38.9817V43H41.2504V38.9816L42.2494 35.7538C42.7469 34.1465 43 32.4719 43 30.7874V24.7325C42.9997 23.7796 42.2372 23.0071 41.2967 23.0071Z" fill="#FFA956" />
                <path d="M2.70298 23.0071C3.6435 23.0071 4.40597 23.7796 4.40597 24.7325V24.2785V23.4611C4.40597 22.5082 5.16844 21.7357 6.10895 21.7357C7.04946 21.7357 7.81193 22.5082 7.81193 23.4611V22.3682C7.81193 21.4153 8.57441 20.6428 9.51492 20.6428C10.4554 20.6428 11.2179 21.4153 11.2179 22.3682V16.7254C11.2179 15.7725 11.9804 15 12.9209 15C13.8614 15 14.6239 15.7725 14.6239 16.7254V29.2195L16.6239 25.4672C17.0859 24.6005 18.1448 24.2637 19.0128 24.7074C19.7572 25.0878 20.1453 25.9373 19.9497 26.7585L18.6531 32.2037C18.3735 33.378 17.8674 34.4847 17.1639 35.46L14.6238 38.9817V43H2.74964V38.9816L1.7506 35.7538C1.25311 34.1464 1 32.4718 1 30.7874V24.7325C1 23.7796 1.76247 23.0071 2.70298 23.0071Z" fill="#FFA956" />
                <path d="M5.5 13.5311H9.19531C9.66986 13.5311 10.0547 13.1462 10.0547 12.6717C10.0547 12.1971 9.66986 11.8123 9.19531 11.8123H5.5C5.02545 11.8123 4.64062 12.1971 4.64062 12.6717C4.64062 13.1462 5.02545 13.5311 5.5 13.5311Z" fill="#CFD2DC" />
                <path d="M18.6709 12.6717C18.6709 12.1971 18.286 11.8123 17.8115 11.8123H16.4503C15.9758 11.8123 15.5909 12.1971 15.5909 12.6717C15.5909 13.1462 15.9758 13.5311 16.4503 13.5311H17.8115C18.286 13.5311 18.6709 13.1462 18.6709 12.6717Z" fill="#CFD2DC" />
                <path d="M33.0799 12.6717C33.0799 12.1971 32.6951 11.8123 32.2205 11.8123H30.8594C30.3848 11.8123 30 12.1971 30 12.6717C30 13.1462 30.3848 13.5311 30.8594 13.5311H32.2205C32.6951 13.5311 33.0799 13.1462 33.0799 12.6717Z" fill="#CFD2DC" />
                <path d="M14.0799 12.6717C14.0799 12.1971 13.6951 11.8123 13.2205 11.8123H11.8594C11.3848 11.8123 11 12.1971 11 12.6717C11 13.1462 11.3848 13.5311 11.8594 13.5311H13.2205C13.6951 13.5311 14.0799 13.1462 14.0799 12.6717Z" fill="#CFD2DC" />
                <path d="M5.5 18.3433H6.98457C7.45912 18.3433 7.84395 17.9585 7.84395 17.4839C7.84395 17.0094 7.45912 16.6246 6.98457 16.6246H5.5C5.02545 16.6246 4.64062 17.0094 4.64062 17.4839C4.64062 17.9585 5.02545 18.3433 5.5 18.3433Z" fill="#CFD2DC" />
                <path d="M17.6479 17.4839C17.6479 17.9585 18.0328 18.3433 18.5073 18.3433H20.1071C20.5816 18.3433 20.9664 17.9585 20.9664 17.4839C20.9664 17.0094 20.5816 16.6246 20.1071 16.6246H18.5073C18.0328 16.6246 17.6479 17.0094 17.6479 17.4839Z" fill="#CFD2DC" />
                <path d="M5.5 8.71875H8.46931C8.94386 8.71875 9.32869 8.33392 9.32869 7.85938C9.32869 7.38483 8.94386 7 8.46931 7H5.5C5.02545 7 4.64062 7.38483 4.64062 7.85938C4.64062 8.33392 5.02545 8.71875 5.5 8.71875Z" fill="#CFD2DC" />
                <path d="M17.8115 7H15.0891C14.6146 7 14.2297 7.38483 14.2297 7.85938C14.2297 8.33392 14.6146 8.71875 15.0891 8.71875H17.8115C18.2861 8.71875 18.6709 8.33392 18.6709 7.85938C18.6709 7.38483 18.2861 7 17.8115 7Z" fill="#CFD2DC" />
                <path d="M11.8241 8.71832C12.0501 8.71832 12.2718 8.62714 12.4317 8.46738C12.5914 8.30668 12.6835 8.08582 12.6835 7.85894C12.6835 7.63293 12.5915 7.41121 12.4317 7.25136C12.2718 7.09152 12.0509 7.00043 11.8241 7.00043C11.5981 7.00043 11.3764 7.09152 11.2165 7.25136C11.0568 7.41121 10.9647 7.63293 10.9647 7.85894C10.9647 8.08582 11.0567 8.30668 11.2165 8.46738C11.3764 8.62714 11.5981 8.71832 11.8241 8.71832Z" fill="#CFD2DC" />
                <path d="M20.0664 12.6717C20.0664 13.1462 20.4512 13.5311 20.9258 13.5311H23.203C23.6776 13.5311 24.0624 13.1462 24.0624 12.6717C24.0624 12.1971 23.6776 11.8123 23.203 11.8123H20.9258C20.4512 11.8123 20.0664 12.1971 20.0664 12.6717Z" fill="#CFD2DC" />
                <path d="M27.8926 13.2789C28.0525 13.1192 28.1445 12.8975 28.1445 12.6714C28.1445 12.4454 28.0526 12.2237 27.8926 12.0639C27.7329 11.904 27.5112 11.8121 27.2852 11.8121C27.0591 11.8121 26.8374 11.9039 26.6776 12.0639C26.5177 12.2238 26.4258 12.4454 26.4258 12.6714C26.4258 12.8983 26.5176 13.1192 26.6776 13.2789C26.8374 13.4396 27.0591 13.5308 27.2852 13.5308C27.5112 13.5308 27.7329 13.4396 27.8926 13.2789Z" fill="#CFD2DC" />
                <path d="M34.4362 12.6717C34.4362 13.1462 34.821 13.5311 35.2955 13.5311H38.5297C39.0043 13.5311 39.3891 13.1462 39.3891 12.6717C39.3891 12.1971 39.0043 11.8123 38.5297 11.8123H35.2955C34.8209 11.8123 34.4362 12.1971 34.4362 12.6717Z" fill="#CFD2DC" />
                <path d="M24.4778 16.6246C24.0032 16.6246 23.6184 17.0094 23.6184 17.4839C23.6184 17.9585 24.0032 18.3433 24.4778 18.3433H26.2109C26.6854 18.3433 27.0703 17.9585 27.0703 17.4839C27.0703 17.0094 26.6854 16.6246 26.2109 16.6246H24.4778Z" fill="#CFD2DC" />
                <path d="M38.3619 16.6246H36.7622C36.2877 16.6246 35.9028 17.0094 35.9028 17.4839C35.9028 17.9585 36.2877 18.3433 36.7622 18.3433H38.3619C38.8365 18.3433 39.2213 17.9585 39.2213 17.4839C39.2213 17.0094 38.8365 16.6246 38.3619 16.6246Z" fill="#CFD2DC" />
                <path d="M24.2773 7H22C21.5255 7 21.1406 7.38483 21.1406 7.85938C21.1406 8.33392 21.5255 8.71875 22 8.71875H24.2773C24.7518 8.71875 25.1366 8.33392 25.1366 7.85938C25.1366 7.38483 24.7518 7 24.2773 7Z" fill="#CFD2DC" />
                <path d="M38.5109 8.71875C38.9855 8.71875 39.3703 8.33392 39.3703 7.85938C39.3703 7.38483 38.9855 7 38.5109 7H35.6661C35.1916 7 34.8068 7.38483 34.8068 7.85938C34.8068 8.33392 35.1916 8.71875 35.6661 8.71875H38.5109Z" fill="#CFD2DC" />
                <path d="M31.2383 8.71875C31.7129 8.71875 32.0977 8.33392 32.0977 7.85938C32.0977 7.38483 31.7129 7 31.2383 7H29.3556C28.881 7 28.4962 7.38483 28.4962 7.85938C28.4962 8.33392 28.881 8.71875 29.3556 8.71875H31.2383Z" fill="#CFD2DC" />
            </svg>

            <span class="support__info-text">Написать нам используя форму обратной связи</span>
        </div>
    </div>
</div>
<footer class="footer-wr">
    <div class="container footer footer_secondary">
        <div class="footer__part footer__links">
            <a href="#aboutUs" class="link footer__link">О нас</a>
            <a href="#howWork" class="link footer__link">Как это работает?</a>
        </div>
        <div class="footer__part footer__links footer__links_jself">
            <a href="#loyalty" class="link footer__link">Повышайте лояльности</a>
            <a href="#support" class="link footer__link">Контакты</a>
        </div>
        <div class="footer__part footer__links footer__links_jself">
            <a href="#" class="link footer__link">Производителям товаров</a>
            <a href="#" class="link footer__link">Контакты</a>
        </div>
    </div>

    <div class="footer__bottom-link">
        <%= link_to root_path, class: 'footer__bottom-link' do %>
            Вернуться на <ins>основной сайт</ins>
        <% end %>
    </div>
</footer>
<div class="g-popup _overlay"></div>
